    <table>
      <tr>
        <td style="text-align:right;"><label>Description</label></td>
        <td style="text-align:left;"> <input type="text" name="description" value="<%= @description %>"/></td>
      </tr>
      <tr>
        <td style="text-align:right;"><label>Status</label></td>
        <td style="text-align:left;">
        <select name="status">
          <% Status.order(:id).all.each do |s| %>
          <option <%= 'selected="selected"' if @status == s.name %> value="<%= s.name %>"><%= s.name %></option>
          <% end %>
        </select>
        </td>
      </tr>
      <tr>
        <td style="text-align:right;"><label>Project</label></td>
        <td style="text-align:left;">
        <select name="project_id">
          <% Project.order(:name).all.each do |p| %>
          <option <%= 'selected="selected"' if @project_id == p.id %> value="<%= p.id %>"><%= p.name %></option>
          <% end %>
        </select>
        </td>
      </tr>
      <tr>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <%= link_to( image_tag("cancel.png", :size => "32x32"), "/issues/index", :title=>"Cancel" ) %>
          <%= content_tag :button, :type => :submit, :title=>"Submit" do %>
                   <%= image_tag("submit.png", :size => "32x32") %>
          <% end %>
        </td>
      </tr>
    </table>
