    <table>
      <tr>
        <td><label for="description">Description</label></td>
        <td><input type="text" id="description" name="description" value="<%= @description %>" tabindex="2" /></td>
      </tr>
      <tr>
        <td><label for="color">Color</label></td>
        <td>
        <select id="color" name="color">
          <% Issue.colors.each do |color| %>
          <option <%= 'selected="selected"' if @color == color %> value="<%= color %>"><%= color %></option>
          <% end %>
        </select>
        </td>
      </tr>
      <tr>
        <td><label for="status">Status</label></td>
        <td>
        <select id="status" name="status">
          <% Status.list.each do |s| %>
          <option <%= 'selected="selected"' if @status == s.name %> value="<%= s.name %>"><%= s.name %></option>
          <% end %>
        </select>
        </td>
      </tr>
      <tr>
        <td><label for="project_id">Project</label></td>
        <td>
        <select id="project_id" name="project_id">
          <% Project.list.each do |p| %>
          <option <%= 'selected="selected"' if @project_id == p.id %> value="<%= p.id %>"><%= p.name %></option>
          <% end %>
        </select>
        </td>
      </tr>
      <tr>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <%= link_to( image_tag("cancel.png", :size => "32x32"), "/issues/index", :title=>"Cancel" ) %>
          <%= content_tag :button, :type => :submit, :title=>"Submit" do %>
                   <%= image_tag("submit.png", :size => "32x32") %>
          <% end %>
        </td>
      </tr>
    </table>
