<table class="board">
  <thead>
    <tr>
      <% all_statuses.each do |s| %>
      <td><%= s %></td>
      <% end %>
    </tr>
  </thead>
  <tbody>
      <% all_tickets.each do |at| %>
      <tr>
        <% at.each do |t| %>
          <% if t.nil? %>
            <td class="empty" data-controller="home" data-action="drop->home#drop dragover->home#allowDrop"></td>
          <% else %>
            <td class="postit" draggable="true" data-controller="home" data-action="dragstart->home#drag drop->home#drop dragover->home#allowDrop">
              <%= image_tag("pins/#{t.color}.png", alt:"#{t.color}") %>
              <%= link_to( image_tag("pencil.png", :size => "32x32"), "/issues/edit?id=#{t.id}",  :title=>"Edit" ) %>
              <div class="ref"># <%= t.id %></div>
              <div class="txt"><%= t.description %></div>
            </td>
          <% end %>
        <% end %>
      <% end %>
  </tbody>
</table>
