    <table>
      <tr>
        <td><label for="name">Name</label></td>
        <td><input type="text" id="name" name="name" value="<%= @name %>" tabindex="1" autocomplete="off" /></td>
      </tr>
      <tr>
        <td><label for="description">Description</label></td>
        <td><input type="text" id="description" name="description" value="<%= @description %>" tabindex="2" /></td>
      </tr>
      <tr>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <%= link_to( image_tag("cancel.png", :size => "32x32"), "/projects/index", :title=>"Cancel" ) %>
          <%= content_tag :button, :type => :submit, :title=>"Submit" do %>
                   <%= image_tag("submit.png", :size => "32x32") %>
          <% end %>
        </td>
      </tr>
    </table>
