<% reset_cycle %>
<table class="list">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Created on</th>
      <th>by</th>
      <th>Updated on</th>
      <th>by</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @projects.each do |p| %>
    <tr class="<%= cycle("odd", "even") %>">
      <td><%= p.id %></td>
      <td><%= p.name %></td>
      <td><%= p.description %></td>
      <td><%= p.created_on.strftime("%F") %></td>
      <td><%= p.created_by %></td>
      <td><%= p.updated_on.strftime("%F") %></td>
      <td><%= p.updated_by %></td>
      <td><%= link_to( image_tag("edit.png",   :size => "16x16"), "/projects/edit?id=#{p.id}",   :title=>"Edit" ) %></td>
      <td><%= link_to( image_tag("delete.png", :size => "16x16"), "/projects/remove?id=#{p.id}", :title=>"Remove" ) %></td>
    </tr>
  <% end %>
  </tbody>
<table>
