<!DOCTYPE html>
<html>
  <head>
    <title><%= Ticket::Application.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
<body class="<%=h body_css_classes %>">
  <div id="wrapper">
    <div id="header">
      <div id="top-menu">
        <ul><li><a class="home"           href="/">Home</a></li>
        <% if User.current %>
            <li><a class="issues"         href="/issues">Issues</a></li>
            <li><a class="projects"       href="/projects">Projects</a></li>
            <li><a class="users"          href="/users">Users</a></li>
            <% if User.current.admin %>
              <li><a class="administration" href="/administration">Administration</a></li>
            <% end %>
        <% end %>
            <li><a class="help"           href="/help">Help</a></li>
        </ul>
        <div id="account">
            <ul>
            <% if User.current %>
              <li>Logged in as <%= User.current.name %></li>
              <li><a href="/logout">Sign out</a></li>
            <% else %>
              <li><a href="/login">Sign in</a></li>
            <% end %>
            </ul>
        </div>
      </div>
        <div id="sub-title">
          <h1><%= @sub_title %></h1>
        </div>
        <div id="quick-search">
          <form action="/search" accept-charset="UTF-8" method="get">
            <label for="q">Search :</label>
            <input type="text"   name="query"  size="20" class="small" tabindex="1" />
            <input type="submit" value="" class="search" tabindex="2" />
          </form>
        </div>
        <div id="add-item"><%= @add_item.html_safe if User.current and !@add_item.nil? %></div>
    </div>
    <div id="content">
      <%= yield %>
    </div>
    <div id="footer">
      Version <%= Ticket::Application.version %> - &copy; <%= Ticket::Application.copyright %>
    </div>
  </div>
</body>
</html>
